/ipch/*
/x64/*
/Debug/*
/Release/*
/qtCyberDip/GeneratedFiles/*
/qtCyberDip/*.user
*.sdf
*.opensdf
*.suo
qtCyberDip.sln
temp_config.vcxproj
.vs/*
.vscode/*
pyCyberCtl/__pycache__/*
qtCyberDip/QTFFmpegWrapper/*
pyCyberCtl/puzzles/*
pyCyberCtl/exp.png
pyCyberCtl/puzzles.rar
pyCyberCtl/pads/*
pyCyberCtl/*.rar
